@import '../colors';

button {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100px;
	height: 40px;
	background: $accent-color;
	border-style: none;
	border-radius: 3px;
	font-size: 18px;
	text-align: center;
	color: $white;
	cursor: pointer;
}

.btn--secondary {
	background: transparent;
	border: 2px solid $accent-color;
	color: $accent-color;
}

.btn--large {
	width: 150px;
	height: 60px;
	font-size: 20px;
}
