@import '../colors';
@import '../breakpoints';

.btn {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100px;
	height: 40px;
	background: $accent-color;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	text-align: center;
	color: $white;
	cursor: pointer;
}

.btn:hover {
	background: darken($accent-color, 5%);
}

.btn--nav {
	width: 80px;
	height: 35px;
}

.btn--secondary {
	background: transparent;
	border: 2px solid $accent-color;
	color: $accent-color;
}

.btn--secondary:hover {
	background: rgba(255, 255, 255, 0.05);
}

.btn--large {
	width: 150px;
	height: 60px;
	font-size: 20px;
}

.btn--about {
	display: none;
	border-radius: 50%;
	width: 40px;
}

.btn--about::before {
	content: "i";
	font-size: 20px;
	font-weight: bold;
}

@media (min-width: $bp-small) {
	//
	.btn--about {
		display: block;
	}
}

@media (min-width: $bp-medium) {
	.btn--nav {
		width: 100px;
		height: 40px;
	}
}

@media (min-width: $bp-large) {
	// Normal about button
	.btn--about {
		width: 100px;
		border-radius: 3px;
	}

	.btn--about::before {
		content: "About";
		font-size: 18px;
		font-weight: normal;
	}
}
