@import './../colors';

button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 100px;
	height: 40px;
	background: $accent-color;
	border-style: none;
	font-size: 20px;
	text-align: center;
	color: $white;
	cursor: pointer;
}

.btn--secondary {
	background: transparent;
	border: 2px solid $accent-color;
	color: $accent-color;
}
