@import '../colors';
@import '../breakpoints';

nav {
	background: darken($primary-color, 10%);
	color: $white;
	height: 70px;
	padding: 0 15px;
}

.nav__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.nav__item {
	display: inline-flex;
	justify-content: center;
	margin-left: 10px;
}

nav h1 {
	margin: 0;
	font-size: 20px;
	white-space: nowrap;
	cursor: default;
}

@media (min-width: $bp-small) {
	nav h1 {
		font-size: 22px;
	}
}

@media (min-width: $bp-medium) {
	nav h1 {
		font-size: 28px;
	}
}

@media (min-width: $bp-large) {
	nav {
		padding: 0 15px;
	}

	.nav__item {
		margin-left: 20px;
	}
}
