@import './../colors';

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: darken($primary-color, 10%);
	color: $white;
	height: 70px;
}

.nav-left, .nav-right {
	display: flex;
}

.nav-left {
	flex-direction: row;
}

.nav-right {
	flex-direction: row-reverse;
}

.nav__item {
	margin: 0 10px;
}

h1 {
	font-size: 28px;
	white-space: nowrap;
}
