@import './../colors';

.post {
	max-width: 500px;
	margin: 25px auto;
	padding: 15px;
	background: $white;
	border-radius: 3px;
	color: black;
}

h3 {
	margin: 0;
	font-size: 24px;
}

.post__age {
	font-size: 14px;
	color: dimgray;
}

table {
	margin: 10px 0;
}

td:first-child {
	padding-right: 10px;
}
