.post {
	max-width: 500px;
	margin: 25px auto;
	padding: 15px;
	background: #fafafa;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	color: black;
}

h3 {
	margin: 0;
}

.post__age {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
}

table {
	margin: 10px 0;
}

td:first-child {
	padding-right: 10px;
}
