@import '../colors';

.popup__background {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

.popup__content {
	flex-grow: 1;
	margin: 50px 15px;
	max-width: 450px;
}
