@import '../globals';

.card {
	max-width: $content-width;
	margin: 25px auto;
	padding: 15px;
	background: $white;
	border-radius: 3px;
	color: black;
}

.card--secondary {
	background: transparent;
	border: 2px solid $white;
	color: $white;
}

.card h3 {
	margin: 0;
	font-size: 24px;
}

.card__subtitle {
	font-size: 14px;
	color: dimgray;
}
