.card {
  max-width: 500px;
  margin: 25px auto;
  padding: 15px;
  background: #fafafa;
  border-radius: 3px;
  color: black; }

.card--secondary {
  background: transparent;
  border: 2px solid #fafafa;
  color: #fafafa; }

.card h3 {
  margin: 0;
  font-size: 24px; }

.card__subtitle {
  font-size: 14px;
  color: dimgray; }
