nav {
  background: #1a1e49;
  color: #fafafa;
  height: 70px;
  padding: 0 15px; }

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto; }

.nav__group {
  display: flex;
  justify-content: right;
  align-items: center; }

nav h1 {
  margin: 0;
  font-size: 22px;
  white-space: nowrap;
  cursor: default; }

@media (min-width: 460px) {
  nav h1 {
    font-size: 28px; } }

@media (min-width: 540px) {
  nav {
    padding: 0 15px; } }
