@import '../globals';

.post-form fieldset {
	margin: 10px 0;
	border-radius: 10px;
	border: $medium-border;
}

.post-form input[type="text"] {
	display: block;
	width: 99%;
	font-size: 16px;
}

.post-form__btn-wrapper {
	display: inline-block;
	margin-right: 10px;
}

.post-form .invalid {
	border-color: transparentize($error-red, 0.1);
}

.post-form .invalid legend {
	color: transparentize($error-red, 0.1);
	background: $primary-color;
}

.post-form .invalid legend::after {
	content: " (select at least one)";
}
