// Colors
$primary-color: #1d2949;
$accent-color: #f99d1c;
$white: #fafafa;
$error-red: #f00000;

// Breakpoints
$bp-small: 400px;
$bp-medium: 520px;
$bp-large: 700px;

// Sizes
$nav-height: 75px;
$aside-width: 300px;
$content-width: 500px;

// Misc
$medium-border: 2px solid rgba(255, 255, 255, 0.2);
$light-border: 1px solid rgba(0, 0, 0, 0.2);
$font-stack: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial",
  "sans-serif";
