// Colors
$primary-color: #1D2949;
$accent-color: #f99d1c;
$white: #fafafa;
$error-red: #f00000;

// Breakpoints
$bp-small: 390px;
$bp-medium: 460px;
$bp-large: 540px;

// Misc
$light-border: 2px solid rgba(255, 255, 255, 0.2);
$font-stack: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
