@import 'globals';

.card {
	width: $content-width;
	margin: 15px auto;
	padding: 15px;
	background: $white;
	border-radius: 3px;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
}

.maps {
	height: 60px;
}

.card--secondary {
	background: transparent;
	border: 2px solid $white;
	color: $white;
}

.card h3 {
	display: inline;
	max-width: 30px;
	margin: 0 8px 0 0;
	font-size: 24px;
	white-space: nowrap;
}

.card__note {
	@extend .card__subtitle;
	display: inline-block;
	white-space: nowrap;
}

.card__subtitle {
	font-size: 14px;
	color: dimgray;
}
