@import "globals";

.checkbox {
  display: block;
  font-size: 20px;
}

.checkbox input {
  width: calc(13px * 1.3);
  height: calc(13px * 1.3);
  transform: scale(1.3);
  margin-right: 6px;
}

@media (min-width: $bp-medium) {
  .checkbox {
    font-size: 16px;
  }

  .checkbox input {
    width: 13px;
    height: 13px;
    transform: none;
    margin-right: 3px;
  }
}
