@import 'globals';

.filters {
	box-sizing: border-box;
	padding: 10px 25px;
	background: darken($primary-color, 5%);
}

.filters__content {
	max-width: $content-width;
	margin: 0 auto;
	color: $white;
}

.filters__header {
	display: flex;
	align-items: baseline;
}

.filters__header > *:not(:first-child) {
	margin-left: 15px;
}

.filters h3 {
	display: inline-block;
	flex-grow: 1;
	margin: 0 15px 0 0;
	font-size: 24px;
}

.filters__fields {
	display: none;
	margin-bottom: 15px;
}

.fields--expanded {
	display: block;
}

.filters fieldset {
	border-radius: 10px;
	border: $medium-border;
}

.filters label {
	display: flex;
	align-items: center;
}

// Filters are displayed horizontally and above post list
@media (min-width: $bp-medium) {
	.fields--expanded {
		display: flex;
	}

	.filters fieldset {
		flex-grow: 1;
		flex-basis: 0; // needed for fields to be equal width
	}
}

// Filters are vertical again, on the side of the page
@media (min-width: $bp-large) {
	.filters {
		position: fixed;
		top: $nav-height;
		height: calc(100% - #{$nav-height});
		overflow-Y: auto;
		width: $aside-width;
	}

	.filters__content {
		padding-bottom: 10px;
	}

	.filters__fields {
		display: block;
	}
}
