@import "globals";

nav {
  width: 100%;
  height: $nav-height;
  background: darken($primary-color, 10%);
  color: $white;
  z-index: 1;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 15px;
}

.nav__group {
  display: flex;
  align-items: center;
}

.group--title {
  flex-grow: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav h1 {
  display: block;
  margin: 0;
  font-size: 22px;
  white-space: nowrap;
  cursor: default;
}

@media (min-width: $bp-small) {
  .nav__group > *:not(:last-child) {
    margin-right: 15px;
  }

  nav h1 {
    font-size: 28px;
  }
}

@media (min-width: $bp-medium) {
  .nav__group:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: $bp-large) {
  nav {
    position: fixed;
    top: 0;
  }
}
