@import 'globals';

.post-form fieldset {
	margin: 10px 0;
	border-radius: 10px;
	border: $medium-border;
}

.post-form input[type="text"] {
	display: block;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
}

.post-form__ippw {
	display: none;
}

.ippw--expanded {
	display: flex;
	flex-direction: row;
}

.post-form__ippw input {
	margin-top: 8px;
}

.post-form__ippw input:not(:last-child) {
	margin-right: 16px;
}

.post-form__controls {
	margin: 0 auto;
	text-align: center;
}

.post-form__btn-wrapper {
	display: inline-block;
}

.post-form__btn-wrapper:not(:last-child) {
	margin-right: 10px;
}

.post-form .invalid {
	border-color: transparentize($error-red, 0.1);
}

.post-form .invalid legend {
	color: transparentize($error-red, 0.1);
	background: $primary-color;
}

.post-form .invalid legend::after {
	content: " (select at least one)";
}

@media (min-width: $bp-medium) {
	.post-form__controls {
		text-align: left;
	}
}
