@import "globals";

.post-reply-form h4 {
  margin: 5px 0;
}

.post-reply-form select {
  width: 100px;
  margin: 10px 0;
  font-family: $font-stack;
  font-size: 18px;
}

.post-reply-form textarea {
  display: block;
  width: 99%;
  height: 100px;
  margin: 10px 0 15px;
  font-family: $font-stack;
  resize: none;
}

.post-reply-form__btn-wrapper {
  display: inline-block;
}

.post-reply-form__btn-wrapper:not(:last-child) {
  margin-right: 10px;
}
